<div class="container-fluid">
    <% if @companies.count == 0 %>
        <% if !@api_companies %>
            <div class="no-companies container-fluid">
                We couldn't find any companies, would you like to add one?
            </div>
            <%= link_to 'Add your company here!', new_company_path %>
        <% else %>
            <div class="no-companies-gd container-fluid">
                There are no companies listed here, would you like to add a company off GlassDoor?
            </p>
            <% if !@api_companies.empty? %>
                <% @api_companies.each do |company| %>
                    <p>
                        <%= link_to "#{company["name"]}", new_company_path(name: company["name"], industry: company["industry"], logoUrl: company["logoUrl"], website: company["website"], api: true) %>
                    </p>
                <% end %>
            <% end %>
            <div class="add-companies">
                Can't find your company?
            </div>
            <%= link_to 'Add your company here!', new_company_path %>
        <% end %>
    <% else %>
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
              <tr>
                <th>Company</th>
                <th>Industry</th>
                <th>Website</th>
                <th>Rating</th>
              </tr>
                <% @companies.each do |company| %>
                <tr>
                    <td class="company-name" style="vertical-align:middle">
                        <a href="companies/<%=company.id%>"><%=company.name %></a>
                    </td>
                    <td class="company-industry" style="vertical-align:middle">
                        <%=company.industry %></td>
                    <td class="company-website" style="vertical-align:middle">
                        <a href="<%=company.website%>"><%=company.website %></a></td>
                    <td class="company-rating">
                        <%=company.open_index.round %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
      </div>
    <% end %>
</div>
