<% if @companies.count == 0 %>
  There are no companies listed here
  <% if !@api_companies.empty? %>
    <% @api_companies.each do |company| %>
      <%= form_for Company.new do |f| %>
        <%= f.hidden_field :name, value: company["name"], required: true %>
        <%= f.hidden_field :industry, value: company["industry"], required: true %>
        <%= f.hidden_field :logoUrl, value: company["logoUrl"], required: true %>
        <%= f.hidden_field :website, value: company[:website], required: true %>
        <%= f.submit "#{company["name"]}" %>
      <% end %>
    <% end %>
  <% end %>
  Can't find your company? <%= link_to 'Add your company here!', new_company_path %>
<% else %>
  <% @companies.each do |company| %>
    <p><a href="/companies/<%=company.id%>"><%=company.name %></a></p>
    <p> website: <%=company.industry %></p>
    <p> website: <%=company.website %></p>
  <% end %>
<% end %>
