<div class="container-fluid companies">
	<% if @companies.count == 0 %>
		There are no companies listed here, <%= link_to 'add your company?', new_company_path %>
	<% else %>
	<table class="table">
		<tbody>
	<% @companies.each do |company| %>
			<tr>
				<td class="company-name"><a href="companies/<%=company.id%>"><%=company.name %></a></td>
				<td class="company-industry"> <%=company.industry %></td>
				<td class="company-website"> <%=company.website %></td>
				<td class="company-rating"> 25 </td>
			</tr>
		</tbody>
	</table>

		<% end %>
	<% end %>
</div>
