<div class="container-fluid companies">
    <% else %>
        <table class="table">
            <tbody>
                <% @companies.each do |company| %>
                <tr>
                    <td class="company-name">
                        <a href="companies/<%=company.id%>"><%=company.name %></a>
                    </td>
                    <td class="company-industry">
                        <%=company.industry %></td>
                    <td class="company-website">
                        <a href="<%=company.website%>"><%=company.website %></a></td>
                    <td class="company-rating">
                        <%=company.open_index.round %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
</div>
