<div class="container-fluid companies">
	<% if @companies.count == 0 %>
		<% if !@api_companies %>
			<div class="no-companies container-fluid">
				We couldn't find any companies, would you like to add one?
			</div>
			<%= link_to 'Add your company here!', new_company_path %>
		<% else %>
			<div class="no-companies-gd container-fluid">
				There are no companies listed here, would you like to add a company off GlassDoor?
			</p>
			<% if !@api_companies.empty? %>
				<% @api_companies.each do |company| %>
					<p>
						<%= link_to "#{company["name"]}", new_company_path(name: company["name"], industry: company["industry"], logoUrl: company["logoUrl"], website: company["website"], api: true) %>
					</p>
				<% end %>
			<% end %>
			<div class="add-companies">
				Can't find your company?
			</div>
			<%= link_to 'Add your company here!', new_company_path %>
		<% end %>
	<% else %>
		<table id="leaderboard" class="table">
			<tbody>
				<h1>Leaderboard</h1>
				<% @leaderboard.each do |company, index| %>
					<tr>
						<td class="company-name">
							<%= company.name %>
						</td>
						<td class="company-industry">
							<%=company.industry %></td>
						<td class="company-website">
							<%=company.website %></td>
						<td class="company-rating">
							<%= index %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		<table class="table">
			<tbody>
				<% @companies.each do |company| %>
				<tr>
					<td class="company-name">
						<a href="companies/<%=company.id%>"><%=company.name %></a>
					</td>
					<td class="company-industry">
						<%=company.industry %></td>
					<td class="company-website">
						<a href="<%=company.website%>"><%=company.website %></a></td>
					<td class="company-rating">
						<div class="c100 p12 small">
								<span>12%</span>
								<div class="slice">
										<div class="bar"></div>
										<div class="fill"></div>
								</div>
						</div>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
</div>
