<div style="padding-top:25px; margin: auto; width: 50%;"></div> <!-- This line is ONLY for maaking space from the top! -->
<div class="container" style="margin: auto; width: 90%; text-align: center ;">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-12">
			<div class="well well-sm">
				<div class="row">
					<div class="col-sm-6 col-md-2">
						<img src="<%=@company.logoUrl%>" class="img-rounded img-responsive" draggable="false" />
					</div>
					<div class="col-sm-6 col-md-4" style="text-align: left;">
						<h4><%=@company.name%></h4>
						<small>
							<cite><%=@company.industry%><i class="glyphicon glyphicon-map-marker"></i></cite>
						</small>
						<p>
							<i class="glyphicon glyphicon-globe"></i> <a href="<%=@company.website%>"><%=@company.website%></a> <br />
						</p>
					</div>
					<div class="col-sm-6 col-md-6">
						<h4>Open Index: <%= @company.open_index.round(2) %></h4>
					</div>
				</div>
			</div>
		</div>
    <% if @company.reviews.present? %>
      <% @company.reviews.each do |review| %>
        <div class="panel panel-primary">
          <div class="panel-body" >
            <p><%= review.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= button_to "Leave Review?", new_company_review_path(@company), class: "btn btn-primary" %>
	</div>
</div>
<h1><%=@company.name%></h1>
<% if @company.industry != '' %><p>Industry: <%=@company.industry%></p><%end%>
<% if @company.website != '' %> <p>Website: <a href="http://<%=@company.website%>"><%=@company.website%></a></p> <%end%>

<%= link_to "Leave Review?", new_company_review_path(@company) %>

<% if @company.reviews.present? %>
  <% @company.reviews.each do |review| %>
    <li>
      <%= review.description %>
      <%= review.average_review_rating %>
      <% if user_signed_in? && (current_user.id == review.user_id) || current_user.admin %>
        <%= link_to "Edit Review", edit_company_review_path(@company, review) %>
        <%= link_to "delete Review", company_review_path(@company, review), method: :delete %>
      <% end %>
      Review submitted by <%=User.find(review.user_id).email%>
    </li>
    <% if user_signed_in? && current_user.has_flagged?(review) || current_user.admin %>
      <%= form_for([@company, review, review.flags.find_by(user_id: current_user.id, review_id: review.id)], method: 'delete') do |f| %>
        <%= f.submit value:"Unflag", class:"flag" %>
      <% end %>
    <% else %>
      <%= form_for([@company, review, review.flags.build]) do |f| %>
        <%= f.submit value:"Flag", class:"flag" %>
      <% end %>
    <% end %>
  <% end %>
  <h1>Open Index: <%= @company.open_index.round(2) %></h1>
<% end %>
