<div style="padding-top:25px; margin: auto; width: 50%;"></div> <!-- This line is ONLY for maaking space from the top! -->
<div class="container" style="margin: auto; width: 90%; text-align: center ;">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-12">
			<div class="well well-sm">
				<div class="row">
					<div class="col-sm-6 col-md-2">
						<img src="<%=@company.logoUrl%>" class="img-rounded img-responsive" draggable="false" />
					</div>
					<div class="col-sm-6 col-md-4" style="text-align: left;">
						<h4><%=@company.name%></h4>
						<small>
							<cite><%=@company.industry%><i class="glyphicon glyphicon-map-marker"></i></cite>
						</small>
						<p>
							<i class="glyphicon glyphicon-globe"></i> <a href="https://<%=@company.website%>"><%=@company.website%></a> <br />
						</p>
					</div>
					<div class="col-sm-6 col-md-6">
            <div id="progress" value="<%=(@company.open_index/100)%>"></div>
					</div>
				</div>
			</div>
		</div>
    <% if @company.reviews.present? %>
      <% @company.reviews.each do |review| %>
        <div class="panel panel-primary">
          <div class="panel-body">
            <p>comments: <%= review.description %></p>
						<p>created: <%= review.created_at %></p>						
          </div>
        </div>
      <% end %>
    <% end %>
    <%= link_to "Leave Review?", new_company_review_path(@company), class: "btn btn-primary" %>
	</div>
</div>
