<h3 class="front-page-title"> Welcome to Open Index </h3>
<p>
Open index aims to aggregate a score for workplaces around the globe based on minority experiances. Search a company below or review your current company.
</p>
<%= render "search"%>
<div class="table-responsive">
<table id="leaderboard" class="table table-hover">
  <tbody>
    <h1>Open index top 100</h1>
    <tr>
    <th>Company</th>
    <th>Industry</th>
    <th>Website</th>
    <th>Rating</th>
    </tr>
    <% Company.lgbt_leaderboard.each do |company, index| %>
      <tr>
        <td class="company-name" style="vertical-align:middle">
          <% if company.name %><a href="companies/<%=company.id%>" class="comp_name"><%=company.name.upcase %><%end%></a>
        </td>
        <td class="company-industry" style="vertical-align:middle">
          <% if company.industry %><%=company.industry %><%end%></td>
        <td class="company-website" style="vertical-align:middle">
          <% if company.website %><a href="https://<%=company.website%>"><%=company.website %><%end%></a></td>
        <td class="company-rating">
          <div class="c100 p<%=index.round%> small">
              <span>	<%= company.open_index.round %>
              </span>
              <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
              </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
