<h1 style="text_align: center">Open Index review for <%= @company.name %></h1>
<div class="form">
  <%= form_for [@company, @review] do |f| %>
    <% @questions.each do |number, question| %>
      <h3><%= f.label question %></h3>
      <% @options.each do |option, points| %>
        <p><%= option %></p>
        <%= f.radio_button number, points %>
      <% end %>
    <% end %>
    <%= f.label :description %>
    <h3>Would you like to talk a bit more in detail about your experiences at <%= @company.name %>?</h3>
    <%= f.text_area :description, class: 'form-control custom-control'%>
    <%= f.submit 'Leave Review', class: 'btn btn-primary btn-lg' %>
  <% end %>
</div >
