<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Open Index</title>
    <%= csrf_meta_tags %>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js' %>
    <%= javascript_include_tag 'progress.js' %>
  </head>

  <body>
    <div class="container">
      <%= render "nav"%>
      <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
