<!DOCTYPE html>
<html>
<head>
  <title>Open Index</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <nav>
    <ul>
      <li>
        <%= link_to 'All Companies', companies_path %>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Edit profile', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Sign in', new_user_session_path %>
        </li>
        <li>
          <%= link_to 'Sign up', new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </nav>

  <%= form_tag companies_path, method: 'get' do %>
    <% if params[:name] %>
      <%= label_tag :name, "You are searching for" %>
    <% else %>
      <%= label_tag :name, "Search for" %>
    <% end %>
    <%= text_field_tag(:name, params[:name], placeholder: "Company") %>
    <%= submit_tag 'Submit' %>
  <% end %>

  <% if notice %>
    <p class="alert alert-success"><%= notice unless notice.blank? %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert unless notice.blank? %></p>
  <% end %>

  <%= yield %>

  </body>
</html>
