<!DOCTYPE html>
<html>
  <head>
    <link href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>Open Index</title>
    <%= render "load_dependencies"%>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render "nav"%>
    <div class="content">
      <div class="container">
        <% flash.each do |name, msg| %>
            <%= content_tag(:div, msg, class: "alert alert-info") %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
  <%= javascript_include_tag 'radioButton.js' %>
</html>
